.title-wrapper {
  text-align: center;
  .title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  .sub-title {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .pera {
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    margin-bottom: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}
